<button class="button button__primary" type="{{#if type}}{{type}}{{else}}button{{/if}}">
  {{#if start-icon-name}}
    <span class="material-icons">
      {{start-icon-name}}
    </span>
  {{/if}}
  {{text}}
  {{#if end-icon-name}}
    <span class="material-icons">
      {{end-icon-name}}
    </span>
  {{/if}}
</button>
