<div class="
    message
    {{#if by-authorized-user}}message__by-authorized-user{{else}}message__by-another-user{{/if}}
    {{#if with-image}}message__with-image{{else}}message__with-text{{/if}}
  "
>
  {{#if with-image}}
    <img alt="Message image" class="message_image" src="{{image-src}}">
  {{else}}
    <p class="message_text">{{{text}}}</p>
  {{/if}}
  <span class="message_time">{{time}}</span>
</div>
